
$baseLineHeight: 2.5;
$baseFontSize: 62.5%;
$baseFontFamily: unquote("'perfect_dos_vga_437_winRg', monospace");

// sass color variables for reset stylesheet
$blue: #00f;
$grey: #cccccc;
$yellow: #ff0;
$black: #000000;